.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
/* *{
  border-width: 1px;
  border-color: red;
  border-style: dashed;

} */




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* logo */

@keyframes img-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_img {
  height: 30vh;
  padding: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .main_img {
    animation: img-logo-spin infinite 16s linear;
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #252954;
  color: #9b9ca7;
}

.card {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  border-radius: 6px;
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 430px;
  width: 100%;
}
.cards-header {
  background: #10122b;
  border-radius: 6px 6px 0 0;
  padding: 20px 20px;
  font-size: 14px;
  font-weight: 500;
}

.cards-header .card{
  display: flex;
  align-items: center;
  margin: auto;
}

.cards-header .card {
  margin: 20px;
}


.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  
    
}


.item {
  flex: 0 1 calc(99% / 3);
  padding: 0;
  text-align: center;
  align-items: center;
}



/* 
.item.is-active {
    background: #4255d4;
    border-radius: 50%;
    color: #fff;
} 



.item.disable {
  color: #595b5b;
} */